src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/ServicioConsultorio/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioConsultorio/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Especialidades">
<part name="parameters" element="tns:Especialidades"/>
</message>
<message name="EspecialidadesResponse">
<part name="parameters" element="tns:EspecialidadesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="informacionDoctores">
<part name="parameters" element="tns:informacionDoctores"/>
</message>
<message name="informacionDoctoresResponse">
<part name="parameters" element="tns:informacionDoctoresResponse"/>
</message>
<message name="Telefonos">
<part name="parameters" element="tns:Telefonos"/>
</message>
<message name="TelefonosResponse">
<part name="parameters" element="tns:TelefonosResponse"/>
</message>
<message name="Correos">
<part name="parameters" element="tns:Correos"/>
</message>
<message name="CorreosResponse">
<part name="parameters" element="tns:CorreosResponse"/>
</message>
<portType name="NewWebService">
<operation name="Especialidades">
<input wsam:Action="http://ws/NewWebService/EspecialidadesRequest" message="tns:Especialidades"/>
<output wsam:Action="http://ws/NewWebService/EspecialidadesResponse" message="tns:EspecialidadesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="informacionDoctores">
<input wsam:Action="http://ws/NewWebService/informacionDoctoresRequest" message="tns:informacionDoctores"/>
<output wsam:Action="http://ws/NewWebService/informacionDoctoresResponse" message="tns:informacionDoctoresResponse"/>
</operation>
<operation name="Telefonos">
<input wsam:Action="http://ws/NewWebService/TelefonosRequest" message="tns:Telefonos"/>
<output wsam:Action="http://ws/NewWebService/TelefonosResponse" message="tns:TelefonosResponse"/>
</operation>
<operation name="Correos">
<input wsam:Action="http://ws/NewWebService/CorreosRequest" message="tns:Correos"/>
<output wsam:Action="http://ws/NewWebService/CorreosResponse" message="tns:CorreosResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Especialidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="informacionDoctores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Telefonos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Correos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ServicioConsultorio/NewWebService"/>
</port>
</service>
</definitions>