src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/ServicioConsultorio/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Correos" type="tns:Correos"/>

<xs:element name="CorreosResponse" type="tns:CorreosResponse"/>

<xs:element name="Especialidades" type="tns:Especialidades"/>

<xs:element name="EspecialidadesResponse" type="tns:EspecialidadesResponse"/>

<xs:element name="Telefonos" type="tns:Telefonos"/>

<xs:element name="TelefonosResponse" type="tns:TelefonosResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="informacionDoctores" type="tns:informacionDoctores"/>

<xs:element name="informacionDoctoresResponse" type="tns:informacionDoctoresResponse"/>

<xs:complexType name="informacionDoctores">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="informacionDoctoresResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Telefonos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TelefonosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Correos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CorreosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Especialidades">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EspecialidadesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>